Repository matjahs/omni-gitops: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, validate-argocd-apps, check-namespace

.pre-commit-config.yaml:

# Pre-commit hooks for GitOps repository validation
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.patch|.*\.diff)$
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
        exclude: |
          (?x)^(
            .*\.helmignore$|
            .*templates/.*\.yaml$|
            .*templates/.*\.yml$
          )
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: ['-d', '{extends: relaxed, rules: {line-length: {max: 120}}}']
        exclude: |
          (?x)^(
            .*templates/.*\.yaml$|
            .*templates/.*\.yml$
          )

  # Kubernetes manifest validation
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        name: Insert license header in shell scripts
        files: \.sh$
        args:
          - --license-filepath
          - scripts/LICENSE_HEADER
          - --comment-style
          - '#'
        exclude: ^scripts/LICENSE_HEADER$

  # Shell script validation
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['-x']

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: |
          (?x)^(
            .*\.example$|
            package-lock\.json$
          )

  # Kubernetes schema validation with kubeconform
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.4.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []

  # Custom local hooks
  - repo: local
    hooks:
      # Validate Kustomize builds
      - id: kustomize-build
        name: Validate Kustomize builds
        entry: scripts/validate-kustomize.sh
        language: script
        files: 'kustomization\.yaml$'
        pass_filenames: false

      # Validate ArgoCD Applications
      - id: validate-argocd-apps
        name: Validate ArgoCD Application manifests
        entry: scripts/validate-argocd-apps.sh
        language: script
        files: '^applications/.*\.yaml$'
        pass_filenames: false

      # Check for required namespace in manifests
      - id: check-namespace
        name: Check namespace is defined
        entry: scripts/check-namespace.sh
        language: script
        files: '^apps/.*\.yaml$'
        exclude: 'kustomization\.yaml$'

chore: migrate ClusterSecretStore to ArgoCD external-secrets app; remove flux-secrets-config
  apps/external-secrets/external-secrets/base/cluster-secret-store.yaml
  apps/external-secrets/external-secrets/base/kustomization.yaml
  flux/flux-secrets-config.yaml
Due: kustomize-build, check-namespace

docs: add ArgoCD application dependency flow mermaid diagram
  applications/README.md
Due: none

templates
  .gitignore
  .pre-commit-config.yaml
  apps/example-app/app.yaml
  apps/example-app/overlays/production/kustomization.yaml
  bootstrap/applicationset-platform.yaml
Due: kustomize-build, check-namespace

chore: fix example-app kustomization newline
  .gitignore
  apps/example-app/app.yaml
Due: check-namespace

docs: add example helm and kustomize app scaffolds (disabled)
  apps/example-helm/app.yaml
  apps/example-helm/overlays/production/kustomization.yaml
  apps/example-kustomize/app.yaml
  apps/example-kustomize/base/deployment.yaml
  apps/example-kustomize/base/kustomization.yaml
  apps/example-kustomize/base/service.yaml
  apps/example-kustomize/overlays/production/kustomization.yaml
Due: kustomize-build, check-namespace

docs: explain ApplicationSet app.yaml metadata pattern with examples
  applications/README.md
Due: none

feat: add app.yaml metadata validation script
  scripts/validate_app_metadata.py
Due: none

feat: add Taskfile with app metadata validation task
  Taskfile.yaml
Due: none

feat: bump cilium to 1.18.4
  .gitignore
  applications/README.md
  applications/cilium.yaml
Due: validate-argocd-apps

docs: clarify Cloudflare token sourced from Vault and synced to namespaces
  docs/vault-integration.md
Due: none

feat: add ExternalSecret for Cloudflare token in external-dns namespace (allowlist pragma)
  apps/external-secrets/config/base/cloudflare-external-secret-external-dns.yaml
  apps/external-secrets/config/base/kustomization.yaml
Due: kustomize-build, check-namespace

chore: normalize field order/whitespace in external-secrets Application
  applications/external-secrets.yaml
Due: validate-argocd-apps

chore: simplify external-secrets Application syncPolicy formatting
  applications/external-secrets.yaml
Due: validate-argocd-apps

feat: upgrade Cilium to version 1.19.0-pre.0 and update API versions in configurations
  applications/cilium.yaml
  apps/cilium-gateway/gateway/base/ip-pool.yaml
  apps/cilium-gateway/gateway/base/l2-announcement-policy.yaml
  apps/kube-system/cilium/Chart.yaml
  apps/kube-system/cilium/values.yaml
  bootstrap/talos/patches/cilium.yaml
  flux/apps/cilium/helmrelease.yaml
Due: validate-argocd-apps, check-namespace

fix: update dashboard URLs to use 'gw' subdomain for consistency
  apps/cilium-gateway/DASHBOARDS.md
  apps/cilium-gateway/HTTPROUTES.md
  apps/cilium-gateway/dashboard/httproute.yaml
Due: check-namespace

feat(terraform): Add vSphere Talos module with outputs, patches, and configuration
  terraform/README.md
  terraform/Taskfile.yml
  terraform/bootstrap.tf
  terraform/main.tf
  terraform/manifest_cilium.tf
  terraform/manifest_coredns.tf
  terraform/modules/talos_pool/data.tf
  terraform/modules/talos_pool/locals.tf
  terraform/modules/talos_pool/main.tf
  terraform/modules/talos_pool/outputs.tf
  terraform/modules/talos_pool/variables.tf
  terraform/modules/vsphere_talos/data.tf
  terraform/modules/vsphere_talos/main.tf
  terraform/modules/vsphere_talos/outputs.tf
  terraform/modules/vsphere_talos/patches/common/install-disk.yaml
  terraform/modules/vsphere_talos/patches/common/longhorn-prereqs.yaml
  terraform/modules/vsphere_talos/patches/controlplane/cilium-longhorn-manifests.yaml
  terraform/modules/vsphere_talos/patches/worker/longhorn-node-labels.yaml
  terraform/modules/vsphere_talos/terraform.tf
  terraform/modules/vsphere_talos/variables.tf
  terraform/providers.tf
  terraform/templates/controlplane.yaml.tmpl
  terraform/templates/worker.yaml.tmpl
  terraform/variables.tf
  terraform/vault.tf
Due: none

refactor(terraform): remove unused Talos pool module files
  terraform/modules/talos_pool/data.tf
  terraform/modules/talos_pool/locals.tf
  terraform/modules/talos_pool/main.tf
  terraform/modules/talos_pool/outputs.tf
  terraform/modules/talos_pool/variables.tf
Due: none

fix: update storage class and ingress class to default for consistency; remove unused Synology CSI resources
  apps/monitoring/kube-prometheus-stack/overlays/production/values.yaml
  apps/monitoring/uptime-kuma/overlays/production/values.yaml
  flux/apps/synology-csi/externalsecret.yaml
  flux/apps/synology-csi/helmrelease.yaml
  flux/apps/synology-csi/helmrepository.yaml
  flux/apps/synology-csi/kustomization.yaml
  flux/apps/synology-csi/namespace.yaml
Due: kustomize-build, check-namespace

feat: add Talos configuration files and scripts for Cilium and Longhorn installation
  .gitignore
  .tool-versions
  bootstrap/talos/cluster-template-lab.yaml
  bootstrap/talos/manifests/install-cilium.yaml
  bootstrap/talos/manifests/install-coredns.yaml
  bootstrap/talos/patches/00-install-cilium.yaml
  bootstrap/talos/patches/215-longhorn-install.yaml
  bootstrap/talos/patches/220-longhorn-config.yaml
  bootstrap/talos/patches/250-worker-dev.yaml
  bootstrap/talos/patches/305-machine-certs.yaml
  bootstrap/talos/patches/workers.yaml
  scripts/talos_dashboard.sh
Due: none

feat(terraform): update Talos configuration with new image factory URL and add networking patch
  .gitignore
  Taskfile.yaml
  terraform/main.tf
  terraform/modules/vsphere_talos/main.tf
  terraform/modules/vsphere_talos/patches/common/networking.yaml
  terraform/modules/vsphere_talos/patches/controlplane/cilium-longhorn-manifests.yaml
  terraform/modules/vsphere_talos/variables.tf
  terraform/outputs.tf
  terraform/talosconfig
  terraform/variables.tf
Due: none

fix: talos config_patches load file contents for vsphere module
  terraform/README.md
  terraform/modules/vsphere_talos/README.md
  terraform/modules/vsphere_talos/main.tf
  terraform/talosconfig
  terraform/terraform.tf
Due: none

fix: use patch contents in apply resources
  terraform/modules/vsphere_talos/main.tf
Due: none

fix: remove stray patch entry and use contents arrays
  terraform/main.tf
Due: none

chore: add kube-prism patch and normalize networking yaml
  .gitignore
  .taskfiles/talos/terraform.yaml
  AGENTS.md
  omni/cluster-template.yaml
  terraform/Taskfile.yml
  terraform/files/cilium-values.yaml
  terraform/files/coredns-bootstrap.yaml
  terraform/files/install-cilium.yaml
  terraform/files/install-coredns.yaml
  terraform/files/metadata.tftpl
  terraform/files/userdata.tftpl
  terraform/modules/vsphere_talos/README.md
  terraform/modules/vsphere_talos/main.tf
  terraform/modules/vsphere_talos/patches/common/host-entries.yaml
  terraform/modules/vsphere_talos/patches/common/kube-prism.yaml
  terraform/modules/vsphere_talos/patches/common/longhorn-prereqs.yaml
  terraform/modules/vsphere_talos/patches/common/networking.yaml
  terraform/modules/vsphere_talos/patches/controlplane/cilium-longhorn-manifests.yaml
  terraform/modules/vsphere_talos/patches/worker/longhorn-manifests.yaml
  terraform/modules/vsphere_talos/patches/worker/longhorn-node-labels.yaml
  terraform/modules/vsphere_talos/talos_config.tf
  terraform/modules/vsphere_talos/variables.tf
Due: none

fix: helm_template use set list instead of unsupported set blocks
  terraform/modules/vsphere_talos/cilium.tf
Due: none

fix: add commas between map attributes in helm set list
  terraform/modules/vsphere_talos/cilium.tf
Due: none

feat: refactor Talos module configuration and enhance networking setup
  terraform/main.tf
  terraform/modules/vsphere_talos/cilium.tf
  terraform/modules/vsphere_talos/main.tf
  terraform/modules/vsphere_talos/patches/common/cilium.yaml
  terraform/modules/vsphere_talos/patches/common/host-entries.yaml
  terraform/modules/vsphere_talos/patches/common/install-disk.yaml
  terraform/modules/vsphere_talos/patches/common/kube-prism.yaml
  terraform/modules/vsphere_talos/patches/common/networking.yaml
  terraform/modules/vsphere_talos/patches/controlplane/monitoring.yaml
  terraform/modules/vsphere_talos/variables.tf
  terraform/variables.tf
Due: none

fix: simplify patch inclusion for control and worker machine configurations
  terraform/modules/vsphere_talos/main.tf
Due: none

feat: add Talos RPC waiters to prevent race conditions during configuration application
  terraform/modules/vsphere_talos/main.tf
  terraform/modules/vsphere_talos/patches/common/cilium.yaml
  terraform/modules/vsphere_talos/patches/common/host-entries.yaml
Due: none

feat: add DHCP configuration for talos control and worker machines
  terraform/modules/vsphere_talos/patches/controlplane/010-cp02-dhcp.yaml
  terraform/modules/vsphere_talos/patches/worker/010-w03-dhcp.yaml
Due: none

fix: update depends_on references to avoid dynamic indexing in Talos configuration applies
  terraform/modules/vsphere_talos/main.tf
Due: none

feat: enhance Talos VM configurations and improve endpoint handling in waiters
  terraform/Taskfile.yml
  terraform/modules/vsphere_talos/main.tf
Due: none

fix: correct command syntax in Taskfile and remove unused tasks
  terraform/Taskfile.yml
Due: none

fix: restore argocd patch reference (#2)
  bootstrap/talos/cluster-template.yaml
Due: none
