Repository matjahs/omni-gitops: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, validate-argocd-apps, check-namespace

.pre-commit-config.yaml:

# Pre-commit hooks for GitOps repository validation
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.patch|.*\.diff)$
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
        exclude: |
          (?x)^(
            .*\.helmignore$|
            .*templates/.*\.yaml$|
            .*templates/.*\.yml$
          )
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: ['-d', '{extends: relaxed, rules: {line-length: {max: 120}}}']
        exclude: |
          (?x)^(
            .*templates/.*\.yaml$|
            .*templates/.*\.yml$
          )

  # Kubernetes manifest validation
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        name: Insert license header in shell scripts
        files: \.sh$
        args:
          - --license-filepath
          - scripts/LICENSE_HEADER
          - --comment-style
          - '#'
        exclude: ^scripts/LICENSE_HEADER$

  # Shell script validation
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['-x']

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: |
          (?x)^(
            .*\.example$|
            package-lock\.json$
          )

  # Kubernetes schema validation with kubeconform
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.4.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []

  # Custom local hooks
  - repo: local
    hooks:
      # Validate Kustomize builds
      - id: kustomize-build
        name: Validate Kustomize builds
        entry: scripts/validate-kustomize.sh
        language: script
        files: 'kustomization\.yaml$'
        pass_filenames: false

      # Validate ArgoCD Applications
      - id: validate-argocd-apps
        name: Validate ArgoCD Application manifests
        entry: scripts/validate-argocd-apps.sh
        language: script
        files: '^applications/.*\.yaml$'
        pass_filenames: false

      # Check for required namespace in manifests
      - id: check-namespace
        name: Check namespace is defined
        entry: scripts/check-namespace.sh
        language: script
        files: '^apps/.*\.yaml$'
        exclude: 'kustomization\.yaml$'

fix: exclude Helm values.yaml files from Flux processing
  .sourceignore
Due: none

fix: exclude ArgoCD-managed directories from Flux processing
  .sourceignore
Due: none

fix: correct Flux configuration and sourceignore
  .sourceignore
  apps/rook-ceph/cluster/base/storage-class.yaml
  flux/flux-apps.yaml
Due: check-namespace

fix: correct Rook-Ceph CSI node secret name
  apps/rook-ceph/cluster/base/storage-class.yaml
Due: check-namespace

fix: reduce Ceph block pool replica count to 2
  apps/rook-ceph/cluster/base/storage-class.yaml
Due: check-namespace

feat: remove rook-ceph
  README.md
  applications/kustomization.yaml
  applications/rook-ceph.yaml
  apps/cilium-gateway/HTTPROUTES.md
  apps/cilium-gateway/dashboard/index.html
  apps/monitoring/kube-prometheus-stack/base/values.yaml
  apps/monitoring/kube-prometheus-stack/overlays/production/values.yaml
  apps/monitoring/uptime-kuma/overlays/production/values.yaml
  apps/rook-ceph/cluster/base/ceph-cluster.yaml
  apps/rook-ceph/cluster/base/external-secret.yaml
  apps/rook-ceph/cluster/base/kustomization.yaml
  apps/rook-ceph/cluster/base/storage-class.yaml
  apps/rook-ceph/cluster/overlays/production/kustomization.yaml
  apps/rook-ceph/cluster/overlays/production/placement.yaml
  apps/rook-ceph/dashboard/base/.gitkeep
  apps/rook-ceph/dashboard/base/httproute.yaml
  apps/rook-ceph/dashboard/base/kustomization.yaml
  apps/rook-ceph/dashboard/overlays/production/kustomization.yaml
  apps/rook-ceph/operator/base/kustomization.yaml
  apps/rook-ceph/operator/overlays/production/kustomization.yaml
  docs/gateway-api-migration-plan.md
Due: kustomize-build, validate-argocd-apps, check-namespace

style: apply yamlfix formatting to local-path-provisioner
  flux/kustomization.yaml
  flux/releases/local-path-provisioner.yaml
  flux/sources/local-path-provisioner.yaml
Due: kustomize-build

fix: update monitoring to use default storage class
  apps/monitoring/kube-prometheus-stack/base/values.yaml
  apps/monitoring/kube-prometheus-stack/overlays/production/values.yaml
  apps/monitoring/uptime-kuma/overlays/production/values.yaml
Due: check-namespace

fix: update storage class to local-path for monitoring and uptime-kuma configurations
  apps/monitoring/kube-prometheus-stack/base/values.yaml
  apps/monitoring/kube-prometheus-stack/overlays/production/values.yaml
  apps/monitoring/uptime-kuma/overlays/production/values.yaml
  apps/traefik-system/traefik/base/kustomization.yaml
  apps/traefik-system/traefik/base/namespace.yaml
  apps/traefik-system/traefik/overlays/production/kustomization.yaml
  apps/traefik-system/traefik/overlays/production/values.yaml
Due: kustomize-build, check-namespace

feat: add democartic-csi
  docs/synology-iscsi-setup.md
  flux/sources/democratic-csi.yaml
Due: none

feat: add democratic-csi with Synology iSCSI backend
  .gitignore
  docs/synology-iscsi-setup.md
  flux/kustomization.yaml
  flux/releases/democratic-csi.yaml
  flux/resources/democratic-csi-external-secret.yaml
  flux/resources/democratic-csi-namespace.yaml
  scripts/setup-democratic-csi-vault-secret.sh
Due: kustomize-build

fix: remove invalid HelmRelease dependency for democratic-csi
  flux/releases/democratic-csi.yaml
Due: none

fix: reference democratic-csi secret from correct namespace
  flux/releases/democratic-csi.yaml
Due: none

fix: move democratic-csi ExternalSecret to flux-system namespace
  .pre-commit-config.yaml
  docs/democratic-csi-deployment.md
  flux/releases/democratic-csi.yaml
  flux/resources/democratic-csi-external-secret.yaml
Due: none

fix: complete democratic-csi driver config with CHAP and iSCSI settings
  flux/resources/democratic-csi-external-secret.yaml
Due: none

fix: remove invalid template variables from driver config
  flux/resources/democratic-csi-external-secret.yaml
Due: none

fix: use manual driver config secret for democratic-csi
  flux/releases/democratic-csi.yaml
Due: none

feat: add VolumeSnapshot CRDs for democratic-csi
  flux/kustomization.yaml
  flux/resources/snapshot-crds.yaml
Due: kustomize-build

fix: remove duplicate iSCSI directory mount configuration
  flux/releases/democratic-csi.yaml
Due: none

fix: use Talos 1.10+ compatible iSCSI directory path
  flux/releases/democratic-csi.yaml
Due: none

fix: add FILE LUN type for Synology DSM 7.x compatibility
  docs/democratic-csi-next-steps.md
  flux/releases/democratic-csi.yaml
Due: none

feat: add Democratic-CSI deployment guide with iSCSI configuration steps
  docs/democratic-csi-next-steps.md
  flux/kustomization.yaml
  flux/releases/democratic-csi.yaml
  flux/releases/synology-csi.yaml
  flux/resources/democratic-csi-external-secret.yaml
  flux/resources/synology-csi-external-secret.yaml
  flux/resources/synology-csi-namespace.yaml
  flux/sources/synology-csi.yaml
Due: kustomize-build

feat: add Democratic-CSI deployment guide with iSCSI configuration steps
  docs/democratic-csi-next-steps.md
  flux/releases/synology-csi.yaml
  flux/resources/synology-csi-external-secret.yaml
Due: none

fix: replace democratic-csi with synology driver
  docs/platform-components.md
Due: none

fix: replace democratic-csi with synology driver
  .gitignore
  .pre-commit-config.yaml
  apps/monitoring/kube-prometheus-stack/base/values.yaml
  apps/monitoring/kube-prometheus-stack/overlays/production/values.yaml
  apps/monitoring/uptime-kuma/overlays/production/values.yaml
  docs/democratic-csi-deployment.md
  flux/apps/external-dns/config.yaml
  flux/apps/external-dns/helmrelease.yaml
  flux/apps/external-dns/helmrepository.yaml
  flux/apps/external-dns/kustomization.yaml
  flux/apps/synology-csi/externalsecret.yaml
  flux/apps/synology-csi/helmrelease.yaml
  flux/apps/synology-csi/helmrepository.yaml
  flux/apps/synology-csi/namespace.yaml
  flux/infrastructure/cluster-secret-store.yaml
  flux/infrastructure/httproutes/kustomization.yaml
  flux/infrastructure/httproutes/notification-controller.yaml
  flux/infrastructure/httproutes/source-controller.yaml
  flux/infrastructure/kustomization.yaml
  flux/infrastructure/snapshot-crds.yaml
  flux/kustomization.yaml
  flux/releases/local-path-provisioner.yaml
  flux/resources/synology-csi-external-secret.yaml
  flux/sources/local-path-provisioner.yaml
Due: kustomize-build, check-namespace

feat: Add .fluxignore and .sourceignore files to protect apps directory from Flux CD deployments
  .argocdignore
  .sourceignore
  AGENTS.md
  applications/.fluxignore
  applications/README.md
  apps/.fluxignore
  apps/README.md
  docs/adr/0005-hybrid-gitops-flux-argocd-separation.md
  docs/adr/0006-flux-directory-restructuring.md
  docs/adr/0007-synology-csi-for-persistent-storage.md
  docs/adr/0008-cilium-gateway-api-migration.md
  docs/adr/README.md
  flux/.argocd-source.yaml
  flux/.gitkeep
  flux/README.md
  flux/apps/kustomization.yaml
  flux/apps/synology-csi/kustomization.yaml
  flux/httproutes/kustomization.yaml
  flux/sources/local-path-provisioner.yaml
Due: kustomize-build

feat: migrate ArgoCD to Flux management
  applications/argocd.yaml
  applications/kustomization.yaml
  bootstrap.sh
  clusters/cluster1/.gitignore
  clusters/cluster1/base/rollouts-extension.yaml
  clusters/cluster1/base/root-applications.yaml
  clusters/cluster1/base/sync-project.yaml
  clusters/cluster1/kustomization.yaml
  clusters/cluster1/overlays/production/argocd-cm.yaml
  clusters/cluster1/overlays/production/argocd-cmd-params-cm.yaml
  clusters/cluster1/overlays/production/argocd-notifications-cm.yaml
  clusters/cluster1/overlays/production/argocd-notifications-controller-deploy.yaml
  clusters/cluster1/overlays/production/argocd-rbac-cm.yaml
  clusters/cluster1/overlays/production/argocd-redis-service.yaml
  clusters/cluster1/overlays/production/argocd-repo-server-patch.json
  clusters/cluster1/overlays/production/argocd-server-service.yaml
  clusters/cluster1/overlays/production/patch-priority-class.yaml
  docs/ARGOCD_FLUX_MIGRATION.md
  flux/apps/argocd/config.yaml
  flux/apps/argocd/helmrelease.yaml
  flux/apps/argocd/helmrepository.yaml
  flux/apps/argocd/kustomization.yaml
  flux/apps/argocd/namespace.yaml
  flux/apps/kustomization.yaml
Due: kustomize-build, validate-argocd-apps

fix: allow flux/apps directory in source artifacts
  .sourceignore
Due: none

fix: correct ArgoCD Helm chart name to argo-cd
  flux/apps/argocd/helmrelease.yaml
Due: none

feat: add timeout and remediation to ArgoCD HelmRelease
  .gitignore
  apps/argocd/argocd/overlays/production/httproute.yaml
  flux/apps/argocd/helmrelease.yaml
Due: check-namespace

fix: add sectionName to all HTTPS HTTPRoutes for Cilium Gateway
  apps/cilium-gateway/dashboard/httproute.yaml
  apps/kube-system/hubble-ui/base/hubble-ui-httproute.yaml
  apps/kube-system/hubble-ui/overlays/production/hubble-relay-httproute.yaml
  flux/infrastructure/httproutes/notification-controller.yaml
  flux/infrastructure/httproutes/source-controller.yaml
Due: check-namespace

fix: correct ArgoCD server.insecure parameter location
  docs/network/README.md
  docs/network/firewall.md
  docs/network/implementation-guides/01-fix-interface-classification.md
  docs/network/recommendations.md
  docs/network/routing.md
  docs/network/topology.md
  docs/network/vlans.md
  flux/apps/argocd/config.yaml
Due: none

feat: add multiple configuration files and templates for cluster setup
  .gitignore
  .mise.toml
  .pre-commit-config.yaml
  AGENTS.md
  applications/argocd-config.yaml
  apps/argocd/argocd/bootstrap-app-set.yaml
  apps/argocd/argocd/config-cmd-params.yaml
  apps/argocd/argocd/config.yaml
  apps/argocd/argocd/httproute.yaml
  apps/argocd/argocd/kustomization.yaml
  apps/argocd/argocd/namespace.yaml
  apps/argocd/argocd/overlays/production/kustomization.yaml
  apps/argocd/argocd/params.yaml
  apps/argocd/argocd/service.yaml
  apps/kube-system/cilium/Chart.yaml
  bootstrap/talos/cluster-template.yaml
  bootstrap/talos/omni-cluster1.yaml
  bootstrap/talos/patches/argocd.yaml
  bootstrap/talos/patches/cilium.yaml
  bootstrap/talos/patches/cni.yaml
  bootstrap/talos/patches/monitoring.yaml
  bootstrap/talos/test.baseline
  bootstrap/talos/vmware.sh
  docs/network/implementation-guides/02-implement-redundancy.md
  scripts/omni-pull.sh
Due: kustomize-build, validate-argocd-apps, check-namespace

feat: talos flux bootstrap
  bootstrap/talos/cluster-template.yaml
  bootstrap/talos/patches/argocd.yaml
  bootstrap/talos/patches/flux.yaml
Due: none

feat: talos flux bootstrap (#1)
  bootstrap/talos/cluster-template.yaml
  bootstrap/talos/patches/argocd.yaml
  bootstrap/talos/patches/flux.yaml
Due: none

fix: restore argocd patch reference
  bootstrap/talos/cluster-template.yaml
  bootstrap/talos/patches/flux.yaml
Due: none

Add Flux v2.7.0 component manifests
  flux/flux-system/gotk-components.yaml
Due: none

Add Flux sync manifests
  flux/flux-system/gotk-sync.yaml
  flux/flux-system/kustomization.yaml
Due: kustomize-build

Refactor Kustomization files and add external-secrets resources
  .gitignore
  AGENTS.md
  applications/argocd-config.yaml
  bootstrap/talos/cluster-template.yaml
  bootstrap/talos/omni-cluster1.yaml
  bootstrap/talos/patches/cilium.yaml
  bootstrap/talos/patches/longhorn.yaml
  bootstrap/talos/patches/workers.patch.yaml
  bootstrap/talos/schematic.yaml
  flux/apps/argocd/kustomization.yaml
  flux/apps/external-dns/kustomization.yaml
  flux/apps/external-dns/namespace.yaml
  flux/apps/synology-csi/externalsecret.yaml
  flux/apps/synology-csi/kustomization.yaml
  flux/infrastructure/external-secrets/helmrelease.yaml
  flux/infrastructure/external-secrets/helmrepository.yaml
  flux/infrastructure/external-secrets/kustomization.yaml
  flux/infrastructure/external-secrets/namespace.yaml
  flux/infrastructure/kustomization.yaml
  scripts/create_node.sh
  scripts/vmware.sh
Due: kustomize-build, validate-argocd-apps

fix: temporarily disable synology-csi ExternalSecret until CRD present
  flux/apps/synology-csi/externalsecret.yaml
Due: none
