Repository matjahs/omni-gitops: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, validate-argocd-apps, check-namespace

.pre-commit-config.yaml:

# Pre-commit hooks for GitOps repository validation
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.patch|.*\.diff)$
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--allow-multiple-documents']
        exclude: |
          (?x)^(
            .*\.helmignore$|
            .*templates/.*\.yaml$|
            .*templates/.*\.yml$
          )
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: ['-d', '{extends: relaxed, rules: {line-length: {max: 120}}}']
        exclude: |
          (?x)^(
            .*templates/.*\.yaml$|
            .*templates/.*\.yml$
          )

  # Kubernetes manifest validation
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        name: Insert license header in shell scripts
        files: \.sh$
        args:
          - --license-filepath
          - scripts/LICENSE_HEADER
          - --comment-style
          - '#'
        exclude: ^scripts/LICENSE_HEADER$

  # Shell script validation
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['-x']

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: |
          (?x)^(
            .*\.example$|
            package-lock\.json$
          )

  # Kubernetes schema validation with kubeconform
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.4.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []

  # Custom local hooks
  - repo: local
    hooks:
      # Validate Kustomize builds
      - id: kustomize-build
        name: Validate Kustomize builds
        entry: scripts/validate-kustomize.sh
        language: script
        files: 'kustomization\.yaml$'
        pass_filenames: false

      # Validate ArgoCD Applications
      - id: validate-argocd-apps
        name: Validate ArgoCD Application manifests
        entry: scripts/validate-argocd-apps.sh
        language: script
        files: '^applications/.*\.yaml$'
        pass_filenames: false

      # Check for required namespace in manifests
      - id: check-namespace
        name: Check namespace is defined
        entry: scripts/check-namespace.sh
        language: script
        files: '^apps/.*\.yaml$'
        exclude: 'kustomization\.yaml$'

Add Flux sync manifests
  flux/flux-system/gotk-sync.yaml
Due: none

docs: add Cilium & Flux recovery cheatsheet
  README.md
Due: none

feat: re-enable synology ExternalSecret now that CRDs are present
  flux/apps/synology-csi/externalsecret.yaml
Due: none

chore: yamlfix formatting for flux/kustomization.yaml
  flux/flux-infra.yaml
  flux/kustomization.yaml
Due: kustomize-build

chore: yamlfix infra kustomization formatting
  flux/flux-external-secrets.yaml
  flux/flux-gateway.yaml
  flux/flux-secrets-config.yaml
  flux/infrastructure/gateway-api/kustomization.yaml
  flux/infrastructure/kustomization.yaml
  flux/infrastructure/secrets-config/cluster-secret-store.yaml
  flux/kustomization.yaml
Due: kustomize-build

docs: document layered Flux Kustomization flow with diagrams
  README.md
Due: none

chore: yamlfix httproutes kustomization
  flux/infrastructure/cluster-secret-store.yaml
  flux/infrastructure/gateway-api/httproutes/kustomization.yaml
  flux/infrastructure/gateway-api/httproutes/notification-controller.yaml
  flux/infrastructure/gateway-api/httproutes/source-controller.yaml
  flux/infrastructure/httproutes/kustomization.yaml
Due: kustomize-build

chore: drop synology-csi app temporarily
  flux/apps/kustomization.yaml
Due: kustomize-build

feat: add ExternalSecret for external-dns RFC2136 tsig key
  apps/external-dns/external-dns-rfc2136/base/external-secret.yaml
  apps/external-dns/external-dns-rfc2136/base/kustomization.yaml
Due: kustomize-build, check-namespace

fix: correct relative path for cilium-gateway in flux apps kustomization
  flux/apps/kustomization.yaml
Due: kustomize-build

chore: yamlfix apps kustomization
  flux/apps/kustomization.yaml
  flux/flux-cilium-gateway.yaml
  flux/kustomization.yaml
Due: kustomize-build

chore: yamlfix cilium gateway dashboard application
  applications/cilium-gateway-dashboard.yaml
  applications/kustomization.yaml
Due: kustomize-build, validate-argocd-apps

chore: remove flux-cilium-gateway Kustomization; managed by ArgoCD instead
  flux/flux-cilium-gateway.yaml
  flux/kustomization.yaml
Due: kustomize-build

chore: second yamlfix root-applications (stable formatting)
  applications/kustomization.yaml
  applications/longhorn.yaml
  applications/root-applications.yaml
  apps/local-path/kustomization.yaml
  apps/local-path/psa-restricted.yaml
  bootstrap/talos/cluster-template.yaml
  bootstrap/talos/patches/controlplane.patch.yaml
  bootstrap/talos/patches/workers.patch.yaml
  flux/apps/cert-manager/kustomization.yaml
  flux/apps/kustomization.yaml
  local-storage.yaml
Due: kustomize-build, validate-argocd-apps, check-namespace

chore: second yamlfix root-applications (stable formatting)
  applications/cert-manager.yaml
  applications/cilium-gateway-dashboard.yaml
  applications/cilium-gateway.yaml
  applications/kustomization.yaml
  applications/longhorn.yaml
  applications/root-applications.yaml
  apps/argocd/arg/argocd-cm.yaml
  apps/local-path/kustomization.yaml
  apps/local-path/psa-restricted.yaml
  bootstrap/talos/cluster-template.yaml
  bootstrap/talos/patches/controlplane.patch.yaml
  bootstrap/talos/patches/workers.patch.yaml
  flux/apps/cert-manager/kustomization.yaml
  flux/apps/kustomization.yaml
  local-storage.yaml
Due: kustomize-build, validate-argocd-apps, check-namespace

refactor: argocd app to base/overlays structure
  applications/argocd-config.yaml
  apps/argocd/arg/argocd-cm.yaml
  apps/argocd/argocd/config.yaml
  apps/argocd/base/bootstrap-app-set.yaml
  apps/argocd/base/config.yaml
  apps/argocd/base/kustomization.yaml
  apps/argocd/base/namespace.yaml
  apps/argocd/base/params.yaml
  apps/argocd/base/service.yaml
  apps/argocd/overlays/production/httproute.yaml
  apps/argocd/overlays/production/kustomization.yaml
  docs/gateway-api-migration-plan.md
Due: kustomize-build, validate-argocd-apps, check-namespace

fix: correct cilium-gateway-dashboard Application path
  applications/cilium-gateway-dashboard.yaml
Due: validate-argocd-apps

chore: bump external-secrets to v0.20.2
  applications/external-secrets.yaml
Due: validate-argocd-apps

refactor: rename external-dns-rfc2136 to external-dns
  AGENTS.md
  applications/external-dns.yaml
  applications/kustomization.yaml
  apps/external-dns/overlays/production/values.yaml
  flux/apps/external-dns/config.yaml
  flux/apps/external-dns/helmrelease.yaml
Due: kustomize-build, validate-argocd-apps, check-namespace

feat: align Talos patches with Longhorn 1.9.2 Talos docs (disk, modules)
  applications/README.md
  applications/external-dns-rfc2136.yaml
  bootstrap/talos/patches/controlplane.patch.yaml
  bootstrap/talos/patches/workers.patch.yaml
  docs/FLAMINGO_INTEGRATION.md
  docs/adr/0006-flux-directory-restructuring.md
Due: validate-argocd-apps

fix: add yaml doc start to workers.patch.yaml
  bootstrap/talos/patches/workers.patch.yaml
Due: none

chore: update cluster-config
  bootstrap/talos/cluster-template.yaml
  bootstrap/talos/patches/controlplane.patch.yaml
Due: none

fix: convert workers patch to strategic merge format for omnictl
  bootstrap/talos/patches/workers.patch.yaml
Due: none

fix: use json6902 patch format for workers Longhorn support
  bootstrap/talos/patches/workers.patch.yaml
Due: none

fix: workers patch must be mapping root for omnictl
  bootstrap/talos/cluster-template.yaml
  bootstrap/talos/patches/workers.patch.yaml
Due: none

feat: add bootstrap-argocd.sh helper script
  scripts/bootstrap-argocd.sh
Due: none

feat: add omni service exposer annotations (port/label/icon) to argocd-server service
  apps/argocd/base/service.yaml
Due: check-namespace

fix: correct argocd-server omni exposer port to 80
  apps/argocd/base/service.yaml
  bootstrap/talos/patches/workers.patch.yaml
Due: check-namespace

feat: pin cilium 1.15.6 and align bootstrap flags (LB IPAM, L2 announcements)
  bootstrap/talos/patches/cilium.yaml
Due: none

feat: upgrade cilium bootstrap version to 1.18.2
  applications/longhorn.yaml
  apps/local-path/kustomization.yaml
  apps/local-path/psa-restricted.yaml
  apps/metallb-system/metallb/base/ippool.yaml
  apps/metallb-system/metallb/base/kustomization.yaml
  apps/metallb-system/metallb/base/l2advertisement.yaml
  apps/metallb-system/metallb/base/namespace.yaml
  apps/metallb-system/metallb/overlays/production/values.yaml
  bootstrap/talos/patches/cilium.yaml
Due: kustomize-build, validate-argocd-apps, check-namespace

chore: add Cilium v1.18.2 helm values snapshot
  apps/cilium-gateway/values-cilium-1.18.2.yaml
Due: check-namespace

feat: manage Cilium via Flux (HelmRelease 1.18.2)
  flux/apps/cilium/helmrelease.yaml
  flux/apps/cilium/helmrepository.yaml
  flux/apps/cilium/kustomization.yaml
  flux/apps/cilium/namespace.yaml
  flux/apps/cilium/values.yaml
  flux/apps/kustomization.yaml
Due: kustomize-build

fix: disable Cilium gatewayAPI TLSRoutes to avoid missing v1alpha2 CRD
  bootstrap/talos/patches/cilium.yaml
  flux/apps/cilium/helmrelease.yaml
Due: none

chore: remove gatewayAPI enableAlpn/enableAppProtocol flags from cilium bootstrap
  bootstrap/talos/patches/cilium.yaml
Due: none

feat: expand Cilium HelmRelease with full operator values and metrics
  flux/apps/cilium/helmrelease.yaml
Due: none

feat: add required kernel modules (iscsi_tcp, nbd, nvme_tcp, vfio_pci) for Longhorn on Talos
  bootstrap/talos/patches/workers.patch.yaml
Due: none

fix: update machine configuration for longhorn
  .gitignore
  bootstrap/talos/cluster-template.yaml
  bootstrap/talos/patches/workers.patch.yaml
Due: none

feat: add gateway API CRDs application and update Cilium configuration for Helm release
  applications/cilium.yaml
  applications/gateway-api-crds.yaml
  apps/kube-system/cilium/values.yaml
  apps/monitoring/kube-prometheus-stack/base/Chart.yaml
  apps/monitoring/kube-prometheus-stack/base/values.yaml
  apps/monitoring/namespace/namespace.yaml
  scripts/validate-argocd-apps.sh
Due: validate-argocd-apps, check-namespace

feat: add networking patch configuration for Talos cluster
  bootstrap/talos/cluster-template.yaml
  bootstrap/talos/patches/networking.yaml
Due: none

chore: move external-secrets ownership to ArgoCD
  README.md
  flux/flux-secrets-config.yaml
  flux/infrastructure/kustomization.yaml
  flux/kustomization.yaml
Due: kustomize-build
