Repository matjahs/omni-gitops: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, validate-argocd-apps, check-namespace

kustomize-build:
  name: Validate Kustomize builds
  entry: scripts/validate-kustomize.sh
  language: script
  pass_filenames: false

validate-argocd-apps:
  name: Validate ArgoCD Application manifests
  entry: scripts/validate-argocd-apps.sh
  language: script
  pass_filenames: false

check-namespace:
  name: Check namespace is defined
  entry: scripts/check-namespace.sh
  language: script

fix: move cf token to vault backend
  .gitignore
  applications/cert-manager-config.yaml
  applications/external-secrets-config.yaml
  apps/cert-manager/cert-manager/overlays/production/cloudflare-externalsecret.yaml
  apps/cert-manager/cert-manager/overlays/production/cloudflare-secret.yaml.example
  apps/cert-manager/cert-manager/overlays/production/kustomization.yaml
Due: kustomize-build, validate-argocd-apps, check-namespace

feat: move rook-ceph apps to applicationset
  applications/kustomization.yaml
  applications/rook-ceph-cluster.yaml
  applications/rook-ceph-dashboard.yaml
  applications/rook-ceph-operator.yaml
  applications/rook-ceph.yaml
  apps/rook-ceph/cluster/base/ceph-cluster.yaml
  apps/rook-ceph/cluster/base/kustomization.yaml
  apps/rook-ceph/cluster/base/storage-class.yaml
  apps/rook-ceph/cluster/overlays/production/kustomization.yaml
  apps/rook-ceph/operator/base/kustomization.yaml
  apps/rook-ceph/operator/overlays/production/kustomization.yaml
Due: kustomize-build, validate-argocd-apps, check-namespace

feat: add Vault ClusterSecretStore configuration for external-secrets
  applications/external-secrets-config.yaml
  applications/kustomization.yaml
  apps/external-secrets/external-secrets/base/kustomization.yaml
  apps/external-secrets/external-secrets/base/vault-clustersecretstore.yaml
  apps/external-secrets/external-secrets/overlays/production/kustomization.yaml
Due: kustomize-build, validate-argocd-apps, check-namespace

feat: bump treafik to 37.1.1
  README.md
  applications/traefik.yaml
  docs/adr/0003-argocd-multi-source-for-helm.md
Due: validate-argocd-apps

feat: add RBAC for cert-manager Vault issuer
  apps/cert-manager/cert-manager/base/kustomization.yaml
  apps/cert-manager/cert-manager/base/vault-issuer-rbac.yaml
Due: kustomize-build, check-namespace

fix: correct Vault Kubernetes auth mountPath in ClusterIssuer
  apps/cert-manager/cert-manager/base/vault-clusterissuer.yaml
Due: check-namespace

fix: use /auth/kubernetes mountPath for Vault
  apps/cert-manager/cert-manager/base/vault-clusterissuer.yaml
Due: check-namespace

fix: remove mountPath, use default for Vault kubernetes auth
  apps/cert-manager/cert-manager/base/vault-clusterissuer.yaml
Due: check-namespace

feat: onboard uptime-kuma
  applications/uptime-kuma.yaml
  apps/monitoring/uptime-kuma/base/Chart.yaml
  apps/monitoring/uptime-kuma/base/kustomization.yaml
  apps/monitoring/uptime-kuma/base/values.yaml
  apps/monitoring/uptime-kuma/overlays/production/kustomization.yaml
  apps/monitoring/uptime-kuma/overlays/production/values.yaml
  apps/rook-ceph/cluster/base/storage-class.yaml
  apps/traefik-system/traefik/overlays/production/values.yaml
Due: kustomize-build, validate-argocd-apps, check-namespace

feat: onboard External-DNS with CloudFlare provider
  .pre-commit-config.yaml
  applications/external-dns.yaml
  applications/kustomization.yaml
  apps/argocd/argocd/overlays/production/ingressroute.yaml
  apps/external-dns/external-dns/base/kustomization.yaml
  apps/external-dns/external-dns/base/namespace.yaml
  apps/external-dns/external-dns/overlays/production/kustomization.yaml
  apps/external-dns/external-dns/overlays/production/values.yaml
  apps/kube-system/hubble-ui/base/hubble-ui-ingressroute.yaml
  apps/monitoring/kube-prometheus-stack/overlays/production/grafana-ingressroute.yaml
  apps/monitoring/kube-prometheus-stack/overlays/production/prometheus-ingressroute.yaml
  apps/rook-ceph/dashboard/base/dashboard-ingressroute.yaml
Due: kustomize-build, validate-argocd-apps, check-namespace

feat: add scripts and templates for generating ArgoCD applications
  TODO.md
  scripts/generate-argocd-apps.sh
  templates/application-helm.yaml
  templates/application-kustomize.yaml
  templates/application-manifest-url.yaml
Due: none

chore: update docs
  TODO.md
  docs/monitoring.md
Due: none

feat: add Helm chart deployment for kube-prometheus-stack
  applications/monitoring.yaml
  apps/monitoring/kube-prometheus-stack/base/Chart.yaml
  apps/monitoring/kube-prometheus-stack/base/kustomization.yaml
  apps/monitoring/kube-prometheus-stack/base/values.yaml
  apps/monitoring/kube-prometheus-stack/overlays/production/kustomization.yaml
  docs/network-health-report-2025-10-02.md
  service-traefik-dashboard.yaml
Due: kustomize-build, validate-argocd-apps, check-namespace

fix: update external-dns application configuration to correct path reference
  .gitignore
  applications/external-dns.yaml
  applications/monitoring.yaml
  apps/external-dns/external-dns/base/kustomization.yaml
  apps/kube-system/hubble-ui/base/kustomization.yaml
  apps/rook-ceph/dashboard/base/dashboard-ingressroute.yaml
  apps/traefik-system/traefik/base/kustomization.yaml
  apps/traefik-system/traefik/overlays/production/kustomization.yaml
Due: kustomize-build, validate-argocd-apps, check-namespace

Add Gateway API quick reference documentation, Omni cluster configuration, and validation script for Cilium
  .gitignore
  applications/cilium.yaml
  apps/monitoring/uptime-kuma/overlays/production/httproute.yaml
  docs/README.md
  docs/cilium-argocd-handoff.md
  docs/cilium-operations-guide.md
  docs/gateway-api-migration-plan.md
  docs/gateway-api-quick-reference.md
  omni/README.md
  omni/cluster-template.yaml
  scripts/validate-cilium.sh
Due: validate-argocd-apps, check-namespace

refactor: remove unused Vault integration resources and update documentation
  apps/cert-manager/cert-manager/base/kustomization.yaml
  apps/cert-manager/cert-manager/base/vault-clusterissuer.yaml
  apps/cert-manager/cert-manager/base/vault-issuer-rbac.yaml
  apps/cert-manager/cert-manager/base/vault-serviceaccount.yaml
  apps/cert-manager/cert-manager/overlays/production/cloudflare-externalsecret.yaml
  apps/cert-manager/cert-manager/overlays/production/kustomization.yaml
  apps/external-secrets/external-secrets/base/kustomization.yaml
  apps/external-secrets/external-secrets/base/vault-clustersecretstore.yaml
  docs/vault-integration.md
Due: kustomize-build, check-namespace

feat: add Cilium Gateway API infrastructure (Phase 1)
  applications/cilium-gateway.yaml
  applications/kustomization.yaml
  apps/cert-manager/cert-manager/overlays/production/cert-manager-deployment-patch.yaml
  apps/cilium-gateway/gateway/base/cilium-secure-gateway.yaml
  apps/cilium-gateway/gateway/base/cilium-web-gateway.yaml
  apps/cilium-gateway/gateway/base/kustomization.yaml
  apps/cilium-gateway/gateway/base/namespace.yaml
  apps/cilium-gateway/gateway/base/reference-grant.yaml
  apps/cilium-gateway/gateway/overlays/production/kustomization.yaml
Due: kustomize-build, validate-argocd-apps, check-namespace

fix: remove namespace override to allow ReferenceGrant in cert-manager namespace
  apps/cilium-gateway/gateway/base/kustomization.yaml
Due: kustomize-build

feat: complete Phase 2 - migrate all services to Cilium Gateway API
  apps/argocd/argocd/overlays/production/argo-cd-certificate.yaml
  apps/argocd/argocd/overlays/production/argo-cd-issuer.yaml
  apps/argocd/argocd/overlays/production/httproute.yaml
  apps/argocd/argocd/overlays/production/ingressroute.yaml
  apps/argocd/argocd/overlays/production/kustomization.yaml
  apps/cilium-gateway/gateway/base/cilium-secure-gateway.yaml
  apps/kube-system/hubble-ui/base/hubble-ui-certificate.yaml
  apps/kube-system/hubble-ui/base/hubble-ui-httproute.yaml
  apps/kube-system/hubble-ui/base/hubble-ui-ingressroute.yaml
  apps/kube-system/hubble-ui/base/kustomization.yaml
  apps/monitoring/kube-prometheus-stack/overlays/production/grafana-certificate.yaml
  apps/monitoring/kube-prometheus-stack/overlays/production/grafana-httproute.yaml
  apps/monitoring/kube-prometheus-stack/overlays/production/grafana-ingressroute.yaml
  apps/monitoring/kube-prometheus-stack/overlays/production/kustomization.yaml
  apps/monitoring/kube-prometheus-stack/overlays/production/prometheus-certficate.yaml
  apps/monitoring/kube-prometheus-stack/overlays/production/prometheus-httproute.yaml
  apps/monitoring/kube-prometheus-stack/overlays/production/prometheus-ingressroute.yaml
  apps/rook-ceph/dashboard/base/dashboard-certificate.yaml
  apps/rook-ceph/dashboard/base/dashboard-httproute.yaml
  apps/rook-ceph/dashboard/base/dashboard-ingressroute.yaml
  apps/rook-ceph/dashboard/base/kustomization.yaml
  docs/gateway-api-migration-plan.md
Due: kustomize-build, check-namespace

chore: pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

feat: integrate argocd-vault-plugin v1.18.1 with Vault
  clusters/cluster1/kustomization.yaml
  clusters/cluster1/overlays/production/argocd-cm.yaml
  clusters/cluster1/overlays/production/argocd-repo-server-patch.json
  docs/argocd-vault-plugin.md
  scripts/setup-vault-argocd-auth.sh
Due: kustomize-build

feat: add argocd-image-updater v0.17.0
  clusters/cluster1/kustomization.yaml
Due: kustomize-build

fix: add Gateway API HTTPRoute support to external-dns
  apps/argocd/argocd/overlays/production/httproute.yaml
  apps/external-dns/external-dns/overlays/production/values.yaml
Due: check-namespace

fix: disable CloudFlare proxy for external-dns
  apps/external-dns/external-dns/overlays/production/values.yaml
Due: check-namespace

feat: add external-dns-rfc2136 for Technitium DNS integration
  applications/external-dns-rfc2136.yaml
  apps/external-dns/external-dns-rfc2136/base/kustomization.yaml
  apps/external-dns/external-dns-rfc2136/base/namespace.yaml
  apps/external-dns/external-dns-rfc2136/overlays/production/kustomization.yaml
  apps/external-dns/external-dns-rfc2136/overlays/production/values.yaml
Due: kustomize-build, validate-argocd-apps, check-namespace

fix: correct RFC2136 zone for Technitium DNS
  apps/external-dns/external-dns-rfc2136/overlays/production/values.yaml
Due: check-namespace

feat: add external secrets for Technitium DNS and Cloudflare integration
  .gitignore
  applications/external-dns.yaml
  applications/kustomization.yaml
  apps/external-dns/external-dns-rfc2136/base/external-secret.yaml
  apps/external-dns/external-dns-rfc2136/overlays/production/values.yaml
  apps/external-dns/external-dns/base/kustomization.yaml
  apps/external-dns/external-dns/base/namespace.yaml
  apps/external-dns/external-dns/overlays/production/kustomization.yaml
  apps/external-dns/external-dns/overlays/production/values.yaml
Due: kustomize-build, validate-argocd-apps, check-namespace

--amend
  .gitignore
  applications/external-secrets.yaml
  apps/external-dns/external-dns-rfc2136/overlays/production/values.yaml
Due: validate-argocd-apps, check-namespace

feat: add external-dns-rfc2136 configuration and Helm release setup
  apps/external-dns/external-dns-rfc2136/overlays/production/values.yaml
  flux/configs/external-dns-rfc2136.yaml
  flux/flux-apps.yaml
  flux/kustomization.yaml
  flux/releases/external-dns-rfc2136.yaml
  flux/resources/cluster-secret-store.yaml
  flux/sources/external-dns.yaml
Due: kustomize-build, check-namespace

feat: add argocd-redis service and update repo server patch for Redis integration
  clusters/cluster1/kustomization.yaml
  clusters/cluster1/overlays/production/argocd-redis-service.yaml
  clusters/cluster1/overlays/production/argocd-repo-server-patch.json
Due: kustomize-build

refactor: remove traefik
  applications/kustomization.yaml
  applications/traefik.yaml
Due: kustomize-build, validate-argocd-apps

refactor: use l2-ipam and gateway-api
  apps/cilium-gateway/README.md
  apps/cilium-gateway/gateway/base/cilium-secure-gateway.yaml
  apps/cilium-gateway/gateway/base/cilium-web-gateway.yaml
  apps/cilium-gateway/gateway/base/example-httproute.yaml
  apps/cilium-gateway/gateway/base/ip-pool.yaml
  apps/cilium-gateway/gateway/base/kustomization.yaml
  apps/cilium-gateway/gateway/base/l2-announcement-policy.yaml
Due: kustomize-build, check-namespace

refactor: remove metallb configuration and update uptime-kuma HTTPRoute
  applications/kustomization.yaml
  applications/metallb.yaml
  apps/cilium-gateway/gateway/base/cilium-secure-gateway.yaml
  apps/cilium-gateway/gateway/base/cilium-web-gateway.yaml
  apps/cilium-gateway/gateway/base/ip-pool.yaml
  apps/cilium-gateway/gateway/base/l2-announcement-policy.yaml
  apps/kube-system/cilium/values.yaml
  apps/monitoring/uptime-kuma/overlays/production/httproute.yaml
Due: kustomize-build, validate-argocd-apps, check-namespace

feat: add migration documentation for Cilium Gateway API and L2-IPAM integration; update HTTPRoute configurations for uptime-kuma and ceph-dashboard
  apps/cilium-gateway/MIGRATION.md
  apps/rook-ceph/dashboard/base/dashboard-httproute.yaml
  apps/rook-ceph/dashboard/base/httproute.yaml
Due: check-namespace

feat: implement Cilium Gateway dashboard with ConfigMap, Deployment, HTTPRoute, and Grafana integration
  apps/cilium-gateway/DASHBOARDS.md
  apps/cilium-gateway/dashboard/configmap.yaml
  apps/cilium-gateway/dashboard/deployment.yaml
  apps/cilium-gateway/dashboard/httproute.yaml
  apps/cilium-gateway/dashboard/index.html
  apps/cilium-gateway/dashboard/kustomization.yaml
  apps/cilium-gateway/dashboard/service.yaml
  apps/cilium-gateway/gateway/base/kustomization.yaml
  apps/monitoring/kube-prometheus-stack/dashboards/cilium-gateway-api.json
  apps/monitoring/kube-prometheus-stack/dashboards/configmap.yaml
  apps/monitoring/kube-prometheus-stack/dashboards/kustomization.yaml
  apps/monitoring/kube-prometheus-stack/overlays/production/grafana-httproute.yaml
  apps/monitoring/kube-prometheus-stack/overlays/production/prometheus-httproute.yaml
  apps/rook-ceph/dashboard/base/kustomization.yaml
Due: kustomize-build, check-namespace

feat: add HTTPRoute configurations for external services including Vault, Hubble Relay, AlertManager, and Flux controllers
  apps/cilium-gateway/HTTPROUTES.md
  apps/cilium-gateway/dashboard/index.html
  apps/external-vault/httproute.yaml
  apps/kube-system/hubble-ui/overlays/production/hubble-relay-httproute.yaml
  apps/kube-system/hubble-ui/overlays/production/kustomization.yaml
  apps/monitoring/kube-prometheus-stack/overlays/production/alertmanager-httproute.yaml
  apps/monitoring/kube-prometheus-stack/overlays/production/kube-state-metrics-httproute.yaml
  apps/monitoring/kube-prometheus-stack/overlays/production/kustomization.yaml
  clusters/cluster1/kustomization.yaml
  docs/FLAMINGO_INTEGRATION.md
  flux/httproutes/kustomization.yaml
  flux/httproutes/notification-controller-httproute.yaml
  flux/httproutes/source-controller-httproute.yaml
Due: kustomize-build, check-namespace

fix: add privileged pod security labels to rook-ceph namespace
  apps/rook-ceph/operator/overlays/production/kustomization.yaml
Due: kustomize-build

feat: add ExternalSecret for Ceph CSI RBD node secret and update storage class documentation
  apps/external-dns/external-dns-rfc2136/base/external-secret.yaml
  apps/rook-ceph/cluster/base/external-secret.yaml
  apps/rook-ceph/cluster/base/storage-class.yaml
Due: check-namespace

feat: add ExternalSecret for Ceph CSI RBD node secret and update storage class documentation
  apps/rook-ceph/cluster/base/external-secret.yaml
  apps/rook-ceph/cluster/overlays/production/kustomization.yaml
  apps/rook-ceph/cluster/overlays/production/placement.yaml
Due: kustomize-build, check-namespace

fix: add .sourceignore to exclude non-Kubernetes files from Flux
  .sourceignore
Due: none

Path conditions:
  kustomize-build: any of: kustomization\.yaml$
  validate-argocd-apps: any of: ^applications/.*\.yaml$
  check-namespace: any of: ^apps/.*\.yaml$, but not: kustomization\.yaml$
